* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --secoundary: #b3b3b4;
    --secoundary-black: #272727;
    --primary: #ff3e6c;
    --gray-text: #535665;
    --success: green;
    --warning: #f9a61a;
    --danger: #f34648;
    --success-light: rgb(156, 216, 156);
    --warning-light: #f8e0b7;
    --danger-light: #f7b2b3;
    --secoundary-gray: #4e4f53;
    --light-gray: #f0f0f0;
}

.nav-icons li a {
    text-decoration: none;
    color: var(--secoundary-gray);
}

.nav-icons {
    margin-left: auto;
}

.nav-container {
    width: 100%;
}

.nav-navigators {
    display: none;
}

.nav-search {
    display: none;
}

.page-heading {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.wishlist-products-listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
    gap: 3rem;
}

.wishlist-button {
    padding-left: 2.5rem;
    display: flex;
    flex-direction: row;
}

.cross-badge {
    cursor: pointer;
}

.foot {
    width: 100%;
    background-color: var(--secoundary-black);
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.footer-item-link {
    list-style-type: none;
}

.footer-initem {
    display: inline;
    font-size: 25px;
}

.footer-item {
    color: var(--secoundary);
    padding: 10px;
}

.footer-made-stmt {
    color: var(--secoundary);
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.footer-gmail-phone {
    color: var(--primary);
    font-size: 0px;
}

@media screen and (max-width: 600px) {
    .footer-gmail-laptop {
        display: none;
        padding: 0px;
    }
    .footer-gmail-phone {
        font-size: 25px;
        color: var(--secoundary);
        padding: 2px;
    }
}

@media only screen and (min-width: 650px) {
    .nav-search {
        display: flex;
    }
    .cart-product-items-and-cart-bill {
        gap: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    .nav-navigators {
        display: flex;
    }
    .nav-search {
        display: flex;
    }
    .cart-product-items-and-cart-bill {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;
    }
}